@model IEnumerable<Models.EF.LoginUser>

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

@section table
{
    <!-- Custom styles for this page -->
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Page level plugins -->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Assets/Admin/js/demo/datatables-demo.js"></script>

}
<div class="container-fluid">

    <!-- Page Heading -->
    <p>@Html.ActionLink("Thêm mới một User", "Create", "User", new { @class = "btn btn-primary" })</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách User</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>@Html.DisplayNameFor(model => model.UserName)</th>
                            <th>@Html.DisplayNameFor(model => model.UserPassword)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>@Html.DisplayNameFor(model => model.UserName)</th>
                            <th>@Html.DisplayNameFor(model => model.UserPassword)</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ var i = 1;}
                        @{ foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.UserName</td>
                                    <td>@item.UserPassword</td>
                                </tr>
                            }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
